.duel-targets {
    display: grid;
    grid-template-areas:
  "mainTarget mainTarget"
  "secondary tertiary";
}

.main-target {
    grid-area: mainTarget;
}

.main-target img {
    height: min(70vw, 300px);
    width: min(70vw, 300px);
}
.secondary-target {
    grid-area: secondary;
    margin: 15px;
}

.secondary-target img {
    height: 80px;
    width: 80px;
}
.tertiary-target {
    grid-area: tertiary;
    margin: 15px;
}

.tertiary-target img {
    height: 80px;
    width: 80px;
}
